.modalContainer{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease;
}

.modalContainer .modal{
    background-color: rgba(255, 255, 255, 0.3);
    width: calc(15rem + 15vw);
    height: auto;
    padding: 2rem;
    border-radius: 10px;
    transform: translateY(-600px);
    transition: all 0.5s ease;
}
.modalContainer .modal .modal_header{
    position: relative;
    border-bottom: 1px solid #ddd;

}
.modalContainer .modal .modal_header_title{
    text-align: center;
}
.modalContainer .modal .modal_header .close{
    position: absolute;
    top: 0;
    right: 0;
}
.modalContainer .modal .modal_content{
    border-bottom: 1px solid #ddd;
    padding: 2rem 0;
}
.modalContainer .modal .modal_footer{
    padding: 2rem 0;
    padding-bottom: 0;
}
.modalContainer .modal .modal_footer button{
    float: right;
    padding: 0.5rem;
    border-radius: 8px;
}
.modalContainer .modal .modal_footer .submit{
    margin-right: 1rem;

}


.modalContainer.show{
    visibility: visible;
    opacity: 1;
}
.modalContainer.show .modal{
    transform: translateY(0);
}